<h1>All Orders</h1>

<section class = "order-info">
  <table>
    <tr>
      <th>Name of User</th>
      <th>Order ID</th>
      <th>Date Created</th>

    </tr>
    <% @orders.each do |order| %>
    <tr id="order-<%= order.id %>">
      <td><p><%= link_to "#{order.user.name}", "/admin/users/#{order.user.id}" %> </p></td>
      <td><p><%= order.id %> </p></td>
      <td><p><%= order.created_at.strftime('%m/%d/%Y') %> </p></td>
    </tr>
    <% end %>
  </table>
</section>
