<h1>Change Your Password</h1>

<%= form_with(model: @user, method: :put, action: '/profile', local: true) do |form| %>
  Enter new password: <%= form.text_field :password %>
  Confirm new password: <%= form.text_field :confirm_password %>
  <%= form.submit value: 'Submit' %>
<% end %>