<h1>Change Your Password</h1>

<%= form_tag '/profile/change-password', method: :patch do %>
  Enter new password: <%= text_field_tag :password %>
  Confirm new password: <%= text_field_tag :confirm_password %>
  <%= submit_tag 'Submit' %>
<% end %>